<div class="container-fluid blog-content-div">
  <div class="back-btn-div">
    <button mat-button class="mat-primary" (click)="navigateToLanding()">
      <mat-icon class="back-icon">arrow_back</mat-icon>
      <span class="back">Back</span>
    </button>
  </div>
  <h1 class="mb-4 blog-title-h1">{{blogData?.title}}</h1>
  <p class="blog-content-p" [innerHTML]="blogData.content | paragraph"></p>
</div>
<div class="no-blog-data-div" *ngIf="!blogData">
  <mat-icon class="visible-icon">visibility</mat-icon>
  <p class="no-blogs-p">Unable to display blog</p>
</div>
