.login-form {
  margin: auto;
  padding: 20px;
  width: 25%;
  min-width: 320px;
  max-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .login-form {
    width: 90%;
    min-width: auto;
  }
}

.form-group {
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Space for icon */
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit button styling with center alignment for spinner/text */
button,
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button:disabled,
.submit-btn:disabled {
  background-color: darkgrey;
}

/* Spinner styles (adapted to fit inside button) */
.loader {
  width: 20px; /* Fit inside button */
  aspect-ratio: 1;
  color: #f03355;
  --_c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
  background:
    var(--_c) 50% 0   /6px 6px,
    var(--_c) 50% 100%/6px 6px,
    var(--_c) 100% 50%/6px 6px,
    var(--_c) 0    50%/6px 6px,
    var(--_c) 50%  50%/6px 6px,
    conic-gradient(from 90deg at 2px 2px,#0000 90deg,currentColor 0)
    -2px -2px/calc(50% + 1px) calc(50% + 1px);
  animation: l8 1s infinite linear;
}
@keyframes l8 { to { transform: rotate(.5turn) } }

.login-register-h2{
  text-align: center;
  font-weight: bold;
}

.login-div{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
