.main-nav{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #27282c;
}
.blog-website-name{
  font-size: 3rem;
  font-weight:900;
  font-family: 'Merriweather', serif;
  color: #ffffff;
}
.person{
  color: #ffffff;
  margin-right: 0.4rem;
  vertical-align: middle;
}
.login{
  color: #ffffff;
  vertical-align: middle;
}
.add-icon{
  color: #ffffff;
}
.blog-website-name:hover{
  cursor: pointer;
}
