<mat-toolbar class="main-nav">
  <span class="blog-website-name" (click)="navigateToLanding()">Mohit Blogs</span>
  <div class="login-div">
    <button mat-button class="mat-primary" *ngIf="userData" (click)="navigateToCreateBlog()">
      <mat-icon class="add-icon">add</mat-icon>
      <span class="login">Add Blog</span></button>
    <button mat-button class="mat-primary" *ngIf="!userData"><mat-icon class="person">person</mat-icon><span class="login" (click)="login()">Login</span></button>
    <img [src]="userData.data.profilePic" alt="User Image" class="user-img" width="25px" height="auto" *ngIf="userData" matTooltip="{{userData.data.firstName + ' ' + userData.data.lastName}}">
    <mat-icon *ngIf="userData" class="logout-icon" matTooltip="Logout" (click)="logout()">logout</mat-icon>
  </div>
</mat-toolbar>
