.main-nav{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #27282c;
}
.blog-website-name{
  font-size: 3rem;
  font-weight:900;
  font-family: 'Merriweather', serif;
  color: #ffffff;
}
.person{
  color: #ffffff;
  margin-right: 0.4rem;
  vertical-align: middle;
}
.login{
  color: #ffffff;
  vertical-align: middle;
}
.add-icon{
  color: #ffffff;
}
.blog-website-name:hover{
  cursor: pointer;
}
.logout-icon{
  color: #ffffff;
  margin-left: 1.4rem;
  vertical-align: middle;
}
.user-img{
  border-radius: 50%;
  margin-left: 0.4rem;
}
.login-div,.reset-pwd-logout-menu{
  display: flex;
}
.reset-pwd-logout-menu{
  flex-direction: column;
}
