<section class="footer-section">
  <div class="social-media-icons">
    <h2>Follow Us</h2>
    <hr class="hr-line">
    <ul>
      <li><i class="bi-facebook" (click)="openSocialMedia('facebook')"></i></li>
      <li><i class="bi-twitter" (click)="openSocialMedia('twitter')"></i></li>
      <li><i class="bi-instagram" (click)="openSocialMedia('instagram')"></i></li>
      <li><i class="bi-linkedin" (click)="openSocialMedia('linkedin')"></i></li>
    </ul>
  </div>
  <p class="copyright-p">Made by Mohit Kumar Sharma. Copyright © 2025</p>
</section>
