.login-form {
  margin: auto;
  padding: 20px;
  width: 25%;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Space for icon */
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control-padding {
  width: 100%;
  padding: 10px 10px 10px 10px; /* Space for icon */
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:disabled {
  background-color: darkgrey;
}
.login-register-h2{
  text-align: center;
  font-weight: bold;
}

.login-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-p{
  color: cornflowerblue;
}

.register-p:hover{
  cursor: pointer;
  color: lightcoral;
}

.register-forgot-container{
  display: flex;
  justify-content: space-between;
}
