<div class="container-fluid">
  <div class="login-div">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" *ngIf="pageName === 'login'">
      <h2 class="login-register-h2">Login</h2>
      <div class="form-group">
        <div class="input-wrapper">
          <i class="fas fa-user icon"></i>
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <i class="fas fa-lock icon"></i>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            class="form-control"
          />
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      <div class="register-forgot-container">
        <span class="register-p"><small>Don't have an account? <a (click)="register()">Register</a></small></span>
        <span class="register-p"><small><a (click)="forgotPassword()">Forgot Password?</a></small></span>
      </div>
    </form>

    <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()" class="login-form" *ngIf="pageName === 'register'">
      <h2 class="login-register-h2">Register</h2>
      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="f_name"
            placeholder="First Name"
            class="form-control-padding"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="l_name"
            placeholder="Last Name"
            class="form-control-padding"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="reg_email"
            placeholder="Email"
            class="form-control-padding"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="reg_re_email"
            placeholder="Re-enter Email"
            class="form-control-padding"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="reg_password"
            placeholder="Password"
            class="form-control-padding"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="reg_re_password"
            placeholder="Re-enter Password"
            class="form-control-padding"
          />
        </div>
      </div>
      <button type="submit" [disabled]="registerationForm.invalid">Create Account</button>
      <p class="register-p"><small>Already have an account? <a (click)="login()">Login</a></small></p>
    </form>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form" *ngIf="pageName === 'forgot-password'">
      <h2 class="login-register-h2">Forgot Password</h2>
      <div class="form-group">
        <div class="input-wrapper">
          <i class="fas fa-user icon"></i>
          <input
            type="email"
            formControlName="f_email"
            placeholder="Email"
            class="form-control"
          />
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </form>
  </div>
</div>
