.title-align-right,.content-align-right{
  text-align: right;
}
.blog-text-area{
  height: 45rem;
  resize: none;
}
.black-btn{
  background-color: #000000;
  color: #ffffff;
}
.edit-create-blog-h1{
  font-weight: bolder;
}
